### Tuples 
- t1 parenthesis () li square brackets [] 
- Defference between list and tuples
    - list are mutable - can be changed / modified
        - Used to access modify , add, delete data
    - Tuples are immutable - cannot be changed 
        - Used to access data only

### Data Structures : 
- Dictionaries

### Dictionaries
- It works on the concept of Set Unique Data
- Keys,Values is the unique identifier for a value
- Each key is separated from its values with colon(:)
- Each key and value is separated by comma(,)
- Dictionaries enclosed with Curly braces ({})

In [13]:
d1 = {"Name" : "Gitam", "EmailID" : "gitam@gmail.com", "Address" : "Hyderabad"}
print(d1)

{'Name': 'Gitam', 'EmailID': 'gitam@gmail.com', 'Address': 'Hyderabad'}

In [14]:
d1["Name"]

'Gitam'

In [19]:
d1["EmailID"] = "Gitam-Python@gmail.com" # Update the data

In [20]:
d1["EmailID"]

'Gitam-Python@gmail.com'

In [24]:
del d1["emaiID"]                # Delete a specified key value

In [25]:
d1

{'Name': 'Gitam', 'Address': 'Hyderabad', 'EmaiID': 'Gitam-Python@gmail.com'}

In [26]:
d1 ["EmaiID"]

'Gitam-Python@gmail.com'

In [27]:
d1

{'Name': 'Gitam', 'Address': 'Hyderabad', 'EmaiID': 'Gitam-Python@gmail.com'}

In [31]:
d1

{'Name': 'Gitam', 'Address': 'Hyderabad'}

In [29]:
d1

{'Name': 'Gitam', 'Address': 'Hyderabad'}

In [32]:
d1 # del d1 will delete the entire dict object

{'Name': 'Gitam', 'Address': 'Hyderabad'}

In [33]:
d1.keys() # Return the list of keys

dict_keys(['Name', 'Address'])

In [35]:
d1.values() # Returns the values

dict_values(['Gitam', 'Hyderabad'])

In [37]:
d1.items() # The list of tuples of keys and values

dict_items([('Name', 'Gitam'), ('Address', 'Hyderabad')])

### Contact Appication : 
- Add Contact
- Search the Contact
- List all contacts
    - name1 : phone1
    - name2 : phone2
- Modify the contact
- Remove the contact
- Import the contact

In [45]:
# Add Contact
contacts = {} # Creating a dict object
def addContact(name,phone) :
    if name not in contacts : 
        contacts[name] = phone
        print("Contact Details are Added")
    else :
        print("Contact Details are already exists")
    return 

addContact("Anil","9177448953")
addContact("Naveen",8978643256)
addContact("Anil",9177448953)

Contact Details are Added
Contact Details are Added
Contact Details are already exists

In [46]:
contacts

{'Anil': '9177448953', 'Naveen': 8978643256}

In [47]:
# Search for contact details
def searchContact(name):
    if name in contacts : 
        print(name, " : ", contacts[name])
    else : 
        print("%s does not exists" % name)
    return
searchContact("Anil")
searchContact("Harsha")
searchContact("Naveen")

Anil  :  9177448953
Harsha does not exists
Naveen  :  8978643256

In [48]:
# Import some contacts
# Merge the contacts with existing one
def importContact(newContacts):
    contacts.update(newContacts)
    print(len(newContacts.keys()),"Contacts added successfully")
    return 
newContacts = {'Dinesh' : 987654123, 'Ajay' : 123756489}
importContact(newContacts)

2 Contacts added successfully

In [49]:
contacts

{'Anil': '9177448953',
 'Naveen': 8978643256,
 'Dinesh': 987654123,
 'Ajay': 123756489}

In [52]:
# Delete a contact
def deleteContact(name):
    if name in contacts :
        del contacts[name]
        print(name,'Deleted Successfully')
    else :
        print(name,'Not exists')
    return 
deleteContact('Ajay')

Ajay Not exists

In [51]:
contacts

{'Anil': '9177448953', 'Naveen': 8978643256, 'Dinesh': 987654123}

In [55]:
# Update the contact details
def deleteContact(name,phone):
    if name in contacts:
        contacts[name] = phone
        print(name,"Updated Successfully")
    else : 
        print(name,'Not exists')
    return
deleteContact('Anil',159753468)
deleteContact('Ajay',795462381)

Anil Updated Successfully
Ajay Not exists

In [56]:
contacts

{'Anil': 159753468, 'Naveen': 8978643256, 'Dinesh': 987654123}

### String Formatting :
- Classical Version
- Vurrent Version

In [1]:
# Classical version
li = ["Python", "Programming"]
print("%s %s" %(li[0],li[1]))

Python Programming

In [2]:
print("{0} {1}".format(li[0],li[1]))

Python Programming

In [3]:
li1 = [1,2,3,4]
print("%d %d %d %d " % (li1[0],li1[1],li1[2],li1[3]))

1 2 3 4

### String Functions :
- upper() -- Will convert the string into UpperCase
- lower() -- Will convert the string into LowerCase

In [4]:
s1 = 'Gitam'
print(s1.upper())
print(s1.lower())

GITAM
gitam

### Boolean Function (True and False)
- islower() -- True if the string is lower case / False if the string not in lower case
- isupper() -- True if the string in upper case / False if the string not in upper case
- istitle() -- True if the string follows title case / Flase
- isalpha() -- True if the string contains only alphabets / False
- isnumeric() -- True if the string contains only numbers / False

s1 = 'GITAM'
print(s1.islower())
print(s1.isupper())

In [7]:
s2 = 'Python Programming'
s3 = 'python Programming'
print(s2.istitle())
print(s3.istitle())

True
False

In [9]:
s2 = "Application1889"
s3 = 'PythonProgramming'
print(s2.isalpha())
print(s3.isalpha())

False
True

In [10]:
s1 = '1234'
s2 = 'Application1234'
print(s1.isnumeric())
print(s2.isnumeric())

True
False

In [13]:
s1 = " "
s2 = "Py th on"
print(s1.isspace())
print(s2.isspace())
s3 = ""
print(s3.isspace())

True
False
False

In [15]:
li = [1,2,3,4,5]
li[2:]

[3, 4, 5]

In [16]:
s1 = 'Python'
print(" ".join(s1))

P y t h o n

In [18]:
s2 = "Python Programming Easy to learn"
print(" , ".join(s2))

P , y , t , h , o , n ,   , P , r , o , g , r , a , m , m , i , n , g ,   , E , a , s , y ,   , t , o ,   , l , e , a , r , n

In [19]:
li = ['Python','Programming','Learn']
print(" , ".join(li))

Python , Programming , Learn

In [3]:
s2 = "Python Programming Easy to learn"
print(s2.split())
l1 = s2.split()
print(l1)
print(l1[0])

['Python', 'Programming', 'Easy', 'to', 'learn']
['Python', 'Programming', 'Easy', 'to', 'learn']
Python

In [22]:
s2 = "Python Programming Easy to learn"
print(s2.split('a'))

['Python Progr', 'mming E', 'sy to le', 'rn']

In [23]:
s2 = "Python Programming Easy to learn"
li = s2.split() # Split the string -- list object
print(li)
print(len(li))

['Python', 'Programming', 'Easy', 'to', 'learn']
5

In [24]:
s2 = "Python Programming Easy to learn"
li = list(s2)
print(li)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'E', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [25]:
s2 = "Python Programming Easy to learn"
print(s2.replace("gra","Application"))

Python ProApplicationmming Easy to learn

In [1]:
print('s','t')

s t

In [10]:
s = input("Enter a string : ")
a = s.split()
a1 = a[0]
a2 = a[1]
print(a1)
print(a2)
print(a1[0])
print(ord(a1[0]))

Enter a string : bad water
bad
water
b
98

### Packages and Mokules 

Packages :
    - A collection of Modules(Single Python file . py) and Subpackages

Module :
    - A single Python file containing Subfunctions
    
#### Package --> Sub Packages --> Modules --> Functions --> Statements

In [11]:
# Import the externals packages to Python file
import math
math.floor(123.45)

123

In [12]:
from math import factorial as fact
fact(4)

24

In [30]:
# Function to generate N random numbers in given range
import random
def randomNumbers(n,lb,ub):
    for i in range (0,n):
        print(random.randint(lb,ub), end = " ")
    return 

randomNumbers(10,0,100)

73 93 78 84 23 40 19 59 3 97

In [53]:
# Create a Simple Game 
# Generate 20 random numbers 0 t0 500 
# Input : Number
# Output : Congrats!!
#          Try Once again!!!
li = []
def generateNumbers(n,lb,ub):
    for i in range(0,n):
        li.append(random.randint(lb,ub))
    return li
def check(n):
    if n in li :
        return "Congrats!!!"
    else : 
        return "Try Once Again!!!"
    return
generateNumbers(20,0,25)
check(15)

'Congrats!!!'

In [58]:
s = "Python Programming Language is very easy to learn"
print(len(s.split()))

8

In [ ]:
s = "Python Programming Language is very easy to learn"
c = s.split()